<configuration><configSections>
                   <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                       <section name="BBHTool.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
                   </sectionGroup>
    </configSections>
    <userSettings>
        <BBHTool.My.MySettings>
            <setting name="InstallDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="CaJDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="OnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveToDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveLangs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveGames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveIMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Docs2Go" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppCtr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BBMaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CityID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HelpFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EventLogViewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OTAUG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetupWiz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VCMusic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VCRhap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DRT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VVM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VodaMusic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VAD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VNR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PassKW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SIMC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMIME" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TTY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VZNav" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveToShrink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AIM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BBM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Facebook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Flickr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Gmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GTalk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ICQ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MSN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Yahoo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlockBreaker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Bejeweled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrickBreaker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Peggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Klondike" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sudoku" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tetris" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Texas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sims" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordMole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sheet2Go" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Slide2Go" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Word2Go" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monopoly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartShrinkTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartCAJTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWarning" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoaderDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="StartBaHTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OSFolderBox" serializeAs="String">
                <value/>
            </setting>
            <setting name="AppWorld" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MusicCN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Stock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fetion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VZWPTT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TeleNav" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Twitter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LunarCalendar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Financial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Legal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Medical" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartOtherTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartOTATab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OTADir" serializeAs="String">
                <value/>
            </setting>
            <setting name="CodList" serializeAs="String">
                <value/>
            </setting>
            <setting name="StartToolsTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TweetSize" serializeAs="String">
                <value/>
            </setting>
            <setting name="TweetShrunkSize" serializeAs="String">
                <value/>
            </setting>
            <setting name="MyFaves" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOverTheTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTweet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLoader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveSettingsOnShrink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlackPinkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlackWhiteTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MobileBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="MySpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feeds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Movitalk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Podcasts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Backup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Music" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YouTube" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Arial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Courier" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="European" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Georgia" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Misc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tahoma" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Times" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Trebuchet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Verdana" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveFonts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Slacker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MemoPad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tasks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ITPolicyViewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Arabic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Indic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JapaneseFont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoDCerts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ATTHotspot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuretypeT12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveApps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VersionNumber" serializeAs="String">
                <value/>
            </setting>
            <setting name="NewToApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartIaHTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThaiFont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalFont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Basque" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChineseDictionary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MobileReader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monotype" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ArabicLang" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Afrikaans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Catalan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Chinese" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MobileMarket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddCODFileToList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BBNews" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BBProtect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BBRadio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Amazon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PIMClient" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="G3eWalk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Czech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Dutch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Danish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="French" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveMedia" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveDefaults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Galician" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Greek" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hebrew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hindi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hungarian" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Indonesian" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Italian" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Japanese" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Korean" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Norwegian" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Polish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Portuguese" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Romanian" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Russian" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Spanish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Swedish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Thai" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Turkish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UKEnglish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Vietnamese" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayBookIP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RememberIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoAddBarFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BarFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="StartPlayBookTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayBookPass" serializeAs="String">
                <value/>
            </setting>
            <setting name="RememberPass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstallBarOnDrag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstallCODonDrag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchBarAfterInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideSystemApps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Croation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDFToGo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Latin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberSDKFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberConversionFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberSigningInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SignConvertedAPK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AndroidSDK" serializeAs="String">
                <value/>
            </setting>
            <setting name="APKSaveTo" serializeAs="String">
                <value/>
            </setting>
            <setting name="KeystoreFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="KeystorePass" serializeAs="String">
                <value/>
            </setting>
            <setting name="CSKPass" serializeAs="String">
                <value/>
            </setting>
            <setting name="OpenOTAFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Convert2Alx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstallConverted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Emoji" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BBMMusic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Wikitude" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Plans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceAnalyzer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TMONameID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VZWNameID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MobileConf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Finnish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveShrunkFileList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Travel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertAPKOption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeperateALXFilesCODFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ARM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveBB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TmoError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="German" serializeAs="String">
                <value>False</value>
            </setting>
        </BBHTool.My.MySettings>
    </userSettings>
               <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
